/* Student Dashboard Container */
.Dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures the full height of the viewport */
  }

  .your-tutors-content {
    align-items: center;
    background-color: var(--primary);
    display: flex;
    flex: 1;
    /* Ensures it takes remaining space */
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
  
  .your-tutors-box {
    position: relative;
    display:flex;

    /* Border */
    width: 60em;
    height: 50em;
    border: 15px solid var(--secondary);
    
    margin: 0em;
    border-radius: 5px;

    /* Inside box */
    background-color: white;
    align-items: center;
    justify-content: center;
  }
  
  .tutors-card-group {
    align-items: center;
    gap: 1em;
  }

  .tutors-card {
    width: 3em;
    height: 3em;
    background-color: blue;
  }