.Dashboard-container{
  --primary:   #D0BCFF;
  --secondary: #925FE2;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  .Dashboard-container {
    margin-top: 60px;
  }

  .welcome-box {
    height: 100%;
    margin-bottom: 0;
    width: 100%;
  }
}

/* Dashboard Container */
.Dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures the full height of the viewport */
}

/* Dashboard Content */
.Dashboard-content {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex: 1;
  /* Ensures it takes remaining space */
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

/* Main Layout Container */
/* Media Queries */
@media screen and (max-width: 768px) {
  .tutor-dashboard-container {
    margin-top: 60px;
  }

  .tutor-welcome-box {
    height: 100%;
    margin-bottom: 0;
    width: 100%;
  }
}

/* Tutor Dashboard Container */
.tutor-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures the full height of the viewport */
}

/* Tutor Dashboard Content */
.tutor-dashboard-content {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex: 1;
  /* Ensures it takes remaining space */
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

/* Main Layout Container */
/* Media Queries */
@media screen and (max-width: 768px) {
  .admin-dashboard-container {
    margin-top: 60px;
  }

  .admin-welcome-box {
    height: 100%;
    margin-bottom: 0;
    width: 100%;
  }
}

/* Admin Dashboard Container */
.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures the full height of the viewport */
}

/* Admin Dashboard Content */
.admin-dashboard-content {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex: 1;
  /* Ensures it takes remaining space */
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

/* Tutor Welcome Box */
.tutor-welcome-box {
  align-items: none;
  background-image: linear-gradient(to right, #925FE2, var(--secondary));
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  height: 25em;
  justify-content: center;
  padding: 1.5em;
  padding-top: 2.5em;
  position: relative;
  width: 45em;
}

/* Admin Welcome Box */
.admin-welcome-box {
  align-items: none;
  background-image: linear-gradient(to right, #925FE2, var(--secondary));
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  height: 25em;
  justify-content: center;
  padding: 1.5em;
  padding-top: 2.5em;
  position: relative;
  width: 45em;
}

.your-students-content {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex: 1;
  /* Ensures it takes remaining space */
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.your-students-box {

}

.students-card-group {
  
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
    /* Reveal the full text */
  }
}

/* Blinking Cursor Animation */
@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: var(--secondary);
  }
}

/* for pages that only take up the entire window height */
.full-page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.blank-page {
  flex-grow: 1;
}