
:root {
    --primary: #D0BCFF; /* Light purple */
    --secondary: #925FE2; /* Vibrant yellow */
  }
  
  /* Reset & Global Styles */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .dashboard-nav-main {
      padding-top: 0.5em;
      height: 4em; /* Adjust as needed */
      background-image: linear-gradient(to top, var(--primary), var(--primary)); /* Gradient from light purple to vibrant yellow */
      position:relative;
      display: flex;
      justify-content: center;
      justify-content: center;
      align-items: center;      
    }
  
    .dashboard-button {
      height: 100%;
      width: 8em;
      background-color: var(--primary); /* Vibrant yellow */
      border-style:groove;
      border-color: var(--secondary);
      flex:4;
     
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
      font-weight: bold;
      position: relative;
      overflow: hidden;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 4px 8px var(--primary);
    }
  
    .dashboard-button:hover {
      transform: translateY(-3px);
      box-shadow: 0 20px 20px var(--secondary);
    }
    
    .dashboard-button:active {
      transform: translateY(0);
      box-shadow: 0 2px 4px rgba(255, 193, 7, 0.3);
    }
    
    .dashboard-button::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        rgba(111, 0, 255, 0.6),
        transparent
      );
      transition: left 0.5s;
    }
    
    .dashboard-button:hover::before {
      left: 100%;
    }
  
    .dashboard-buttons-group {
      display: flex;
      flex-direction: row;
      background-color:var(--secondary);
      height:100%;
      flex-wrap:wrap;
      justify-content: center; /* Center the buttons horizontally */
      align-items: center; /* Center the buttons vertically */
      width:auto;
    }
    
    body, html {
      height: 100%;
      font-family: Arial, sans-serif;
    }
  
    